body{
    background-image: url(./assets/damir-spanic-z0snfFRa1fc-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
   
    
}

h1{
    color: rgb(44, 230, 230);
    text-align: center;
    margin-top: 500px;
   
}

#fortune{
    color:antiquewhite;
    font-size: 30px;
    text-align: center;
}

#buttonContainer{
    width: fit-content;
    margin: auto;
}

#fortuneButton{
    padding: 10px;
    font-size: 16px;
    background: white;
    border: 5px solid #D0104C;
    border-radius: 5px;
    color:black;
    cursor: pointer;
}
